body {
  background: #333;
  color: #fff; }
  body .jumbotron {
    min-height: 765px;
    margin-top: 60px;
    padding-top: 120px; }
  body blockquote a {
    color: grey; }
  body blockquote a:hover {
    color: black; }

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8; }

#home-section {
  background: url("../img/home_photo.jpeg");
  min-height: 765px;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 765px; }
  #home-section .home-inner {
    padding-top: 100px; }
  #home-section .card-form {
    opacity: 0.7; }
  #home-section #form p, #home-section #form h3 {
    color: grey; }
  #home-section #keyval {
    padding-top: 40px; }

#explore-section .fa {
  color: #fff;
  background: #333;
  border-radius: 5px;
  padding: 4px;
  font-size: 25px; }
