$bg-color:#333;
$font-color:#fff;
$primary-color:#008ed6;
$dark-overlay:rgba(0,0,0,0.5);
$icon-size:25px;

body{
    background: $bg-color;
    color: $font-color;

.jumbotron{
  min-height: 765px;
  margin-top: 60px;
  padding-top: 120px;
}

blockquote{
  a{
    color: grey;

  }
  a:hover{
    color: black;
  }
}

}

.navbar{
    border-bottom: $primary-color 3px solid;
    opacity: 0.8;
}

#home-section{
    background: url('../img/home_photo.jpeg');
    min-height: 765px;
    background-size: cover;
    background-attachment: fixed;
    position:relative;

    .dark-overlay{
        background-color: $dark-overlay;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        min-height: 765px;
        }

        .home-inner{
            padding-top: 100px;
        }

        .card-form{
            opacity: 0.7;
        }

        #form{
          p,h3{
            color: grey;
          }
        }

        #keyval{
          padding-top: 40px;
        }

        // .fa{
        //     color: $primary-color;
        //     background:#fff;
        //     border-radius: 5px;
        //     padding: 4px;
        //     font-size: $icon-size;
        // }
}

#explore-section{
    .fa{
        color: #fff;
        background: #333;
        border-radius: 5px;
        padding: 4px;
        font-size: $icon-size;
    }
}
